.color{
    background-color: #145E8C;
    border: cadetblue;
}

.titulo{

    color: #092140;
}

.especial{
    background-color: #BFB2AA;
}


.sinopsis{
    height: 200px;
    overflow: scroll;

}

.btn-success{
    background-color: rgba(191, 75, 65, 0.849);
    border-radius: 20px;

    
}

.btn-success:hover{
    background-color: rgb(158, 11, 11);

}


